body
{
    display: block;
}
nav
{
    background-color: #0083FF;
    color: aliceblue;
    word-spacing: 15px;
}
.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 20px; /*Optional*/
}
.Column
{
    display: table-cell;
}
.ul
{
    color: red;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:auto;   /* Height of the footer */
    background-color: #285E70;
    color: azure;
 }



.snip1582 {
    background-color: #0083FF;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'BenchNine', Arial, sans-serif;
    font-size: 1em;
    font-size: 22px;
    line-height: 1em;
    margin: 15px 40px;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
  }
  
  .snip1582:before,
  .snip1582:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
  }
  
  .snip1582:before {
    border-color: #00FFD1;
    border-top-width: 2px;
    left: 0px;
    top: -5px;
  }
  
  .snip1582:after {
    border-bottom-width: 2px;
    border-color: #00FF08;
    bottom: -5px;
    right: 0px;
  }
  
  .snip1582:hover,
  .snip1582.hover {
    background-color: #0083FF;
  }
  
  .snip1582:hover:before,
  .snip1582.hover:before,
  .snip1582:hover:after,
  .snip1582.hover:after {
    height: 100%;
    width: 100%;
  }